@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --main-color: #F07566;
    --gray-bg: #d8d8d8;
    --g-padding: 0 75px;
}

html {
    scroll-behavior: smooth;
}

/* Apply a dark color scheme */
@media (prefers-color-scheme: dark) {
    .loader-wrapper {
        background: #23272A !important;
    }
    #main-logo {
        background: rgb(96, 96, 96);
        border-radius: 10px;
        padding: 10px;
    }
}

.container {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #fff;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}


/* TO TOP BTN */
#myBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    padding: 0;
    /* min-width: none;
    max-width: none;
    width: auto; */
    z-index: 99;
    opacity: 0;
    /* transition: all 0.6s linear; */
}

/* TO TOP BTN */

#myBtn.show {
    opacity: 1;
}

/* HEADER */

.header {
    width: 100%;
    height: 95px;
    border-bottom: 2px solid #e5e5e5;
}

.header-inner {
    height: 100%;
    margin: 0 51px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    background: transparent;
    outline: 3px solid transparent;
    outline-offset: -1px;
    transition: all 0.3s ease;
}

@keyframes onOpenAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

#main-logo {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    transform: scale(2);
    transition: all 0.9s ease;
    /* animation: onOpenAnimation 0.5s ease; */
    animation: onOpenAnimation 0.4s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-play-state: running;
}

#main-logo.loaded {
    top: 0;
    left: 0;
    transform: translate(0);
    padding: 0;
    background: transparent;
    border-radius: 0px;
}

.logo:hover {
    transform: scale(0.9);
}

.logo:active {
    background: #46df27;
    outline: 7px solid #46df27;
}

.header-inner .nav {
    margin-right: auto;
    margin-left: 51px;
    width: 100%;
    max-width: 535px;
    min-width: 340px;
    display: flex;
    justify-content: space-between;
}

.nav li {
    padding: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: all 0.3s ease;
}

.nav li:hover {
    outline-color: #000000;
    outline-offset: 0px;
}

.header-inner .nav li a {
    white-space: nowrap;
    text-decoration: none;
    color: #000000;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 20px;
}

.btn-group {
    display: flex;
    justify-content: stretch;
}

.btn {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    width: 100%;
    min-width: 70px;
    max-width: 120px;
    padding: 0 21px;
    background: #ff6336;
    margin-right: 10px;
    transition: all 0.3s ease;
    box-shadow: inset 0px 0px 2em transparent;
}

.btn:hover {
    background: #ff633633;
    color: #303030;
}

.btn-outline {
    background: transparent;
    color: #000000;
}

.btn-outline,
.btn-outline:active,
.btn-outline:focus {
    outline: 1px solid #00000080;
    outline-offset: -1px;
}

.btn-outline:hover {
    outline-color: #00000000;
    color: #f1f1f1;
    background: rgb(143, 143, 143);
}

.btn:active {
    background: #46df27;
    box-shadow: inset 0px 0px 1em #ffffff88;
}


/* HEADER */


/* MAIN */

.main-container {
    padding: var(--g-padding);
}

.maxwidth-centered {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


/* MAIN */


/* ARTICLE 1 */

#article-1 {
    margin-top: 97px;
    height: 628px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('../img/hz-musor.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.article-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    display: block;
    width: 552px;
}

.article-description {
    display: block;
    margin-top: 51px;
    font-size: 25px;
    line-height: 35px;
    width: 471px;
}

#article-1 .btn-group {
    margin-top: 50px;
}

#article-1 .btn {
    width: 160px;
    line-height: 60px;
}

.undertext {
    margin-top: 25px;
    font-size: 15px;
    line-height: 25px;
}


/* ARTICLE 1 */


/* ARTICLE 2 */

.fullwidth-separator {
    display: flex;
    flex-direction: column;
    margin: 0 -75px;
    background: #FF9C7D;
    padding: 0 75px;
}

#article-2 {
    margin-top: 137px;
    height: 455px;
    max-height: 455px;
}

.fullwidth-separator .article-title {
    display: block;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    margin: 0 auto;
}

#article-2 .article-title {
    margin-top: 108px;
    width: 672px;
}

.logo-demo {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}


/* ARTICLE 2 */


/* ARTICLE 3 */

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 632px;
    background-repeat: no-repeat;
    background-position: right center;
    margin-top: 250px;
}

.right-sided {
    background-position: left center;
}

.right-sided * {
    margin-left: calc(632px + 138px);
}

.card .article-title {
    font-size: 50px;
    line-height: 60px;
}

.card .article-description {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
}

.card .start-link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    width: 90px;
    margin-top: 35px;
    outline: 2px solid transparent;
    outline-offset: 10px;
    transition: all 0.3s ease;
}

.start-link:hover {
    outline-color: #00000088;
    outline-offset: 7px;
}

.first-card {
    margin-top: 90px;
}

#article-3 {
    background-image: url(../img/1.png);
}

#article-3 .article-title {
    width: 493px;
}


/* ARTICLE 3 */


/* ARTICLE 4 */

#article-4 {
    background-image: url(../img/2.png);
}

#article-4 .article-title {
    width: 379px;
}


/* ARTICLE 4 */


/* ARTICLE 5 */

#article-5 {
    background-image: url(../img/3.png);
}

#article-5 .article-title {
    width: 397px;
}


/* ARTICLE 5 */


/* ARTICLE 6 */

#article-6 {
    background-image: url(../img/4.png);
}

#article-6 .article-title {
    width: 348px;
}


/* ARTICLE 6 */


/* ARTICLE 7 */

#article-7 .article-title {
    margin-top: 120px;
    font-size: 50px;
    line-height: 60px;
    width: 890px;
}

#article-7 {
    background: #FFF8E4;
    height: 1033px;
    margin-top: 150px;
}

.card-container {
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 57px;
}

.card-element {
    justify-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 330px;
    height: 294px;
}

.card-icon {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 120px;
    margin-top: 21px;
}

.card-title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

.card-description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}


/* ARTICLE 7 */


/* ARTICLE 8 */

#article-8 {
    height: 1065px;
}

#article-8 .article-title {
    width: 100%;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    margin-top: 154px;
}

#article-8 .card-container {
    row-gap: 49px;
    margin-top: 75px;
}

#article-8 .card-element {
    justify-self: start;
}

#article-8 .icon {
    align-self: end;
    justify-self: start;
    width: auto;
    height: auto;
}

#article-8 .card-title {
    margin: 0;
    text-align: left;
    font-size: 30px;
    line-height: 40px;
}

#article-8 .card-description {
    margin-top: 34px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

#article-8 .learn-more {
    display: inline-block;
    margin-top: 25px;
    /* text-decoration-line: underline; */
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    font-size: 20px;
    line-height: 30px;
}


/* ARTICLE 8 */


/* ARTICLE 9 */

#article-9 {
    height: 468px;
    background: #C9E8F2;
    justify-content: center;
    flex-direction: row;
}

#article-9 .wrapper {
    width: 100%;
    max-width: 1290px;
    display: flex;
    justify-content: space-between;
}

.left-side {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.description {
    display: block;
    height: 160px;
    width: 840px;
    font-size: 30px;
    line-height: 40px;
}

.details {
    font-size: 15px;
    line-height: 25px;
    margin-top: 23px;
}

.company-logo {
    width: 112px;
    height: 25px;
    margin-top: 7px;
}

.right-side {
    margin-top: 53px;
}

.ceo {
    width: 310px;
    height: 310px;
}


/* ARTICLE 9 */


/* ARTICLE 10 */

#article-10 {
    background: #DABC98;
    height: 332px;
    display: flex;
    justify-content: center;
}

#article-10 .maxwidth-centered {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-block {
    width: 481px;
    max-width: 481px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-left: 71px;
    padding-right: 62px; */
    border-left: 1px solid #000;
}

.cake {
    position: relative;
    left: -20px;
}

.main-title {
    display: block;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    width: 461px;
}


.rating-card {
    height: 116px;
    max-height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.rating-logo {
    min-height: 36px;
    max-height: 36px;
}

.rating-value {
    margin-top: 20px;
}

.rating-rating {
    display: block;
    margin-top: 14px;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    letter-spacing: 0.75px;
}

.fa-star {
    width: 20px;
    height: 20px;
}


/* ARTICLE 10 */


/* ARTICLE 11 */

#article-11 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#article-11 .article-title {
    margin-top: 165px;
    line-height: 75px;
    text-align: center;
    width: 800px;
}

#article-11 .article-subtitle {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */
    text-align: center;
    width: 540px;
}

.bg-img {
    margin-top: 25px;
}

.btn-primary {
    padding: 0 20px;
    max-width: 200px;
    line-height: 60px;
    width: 153px;
}

#article-11 .btn-primary {
    margin-top: 32px;
    margin-bottom: 162px;
}


/* ARTICLE 11 */


/* ARTICLE 12 */


#article-12 {
    height: 603px;
    align-items: center;
}

#article-12 .article-title {
    line-height: 75px;
    font-size: 65px;
    width: 790px;
    margin-top: 119px;
    height: 150px;
}

#article-12 .article-subtitle {
    margin-top: 29px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    text-align: center;
}

#article-12 .btn {
    margin-top: 54px;
}

.btn-black {
    background: #000;
    line-height: 60px;
    padding: 0 40px;
    width: 80px;
}


/* ARTICLE 12 */


/* FOOTER */

.footer {
    /* padding: 92px 75px 43px 75px; */
    padding-top: 92px;
    background: #eee;
    width: 100%;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 900px;
}

.top {
    width: 100%;
    height: 682px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.case-studies {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 370px;
}

.main-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

.main-img {
    margin-top: 28px;
}

.company-logo {
    margin-top: 31px;
    width: 80px;
    height: 32px;
}

.main-desc {
    font-size: 20px;
    line-height: 30px;
    display: block;
    margin-top: 11px;
    width: 290px;
}

.read-more {
    display: block;
    color: #000;
    text-decoration: none;
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.list-area {
    width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.list-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.list {
    margin-top: 21px;
    width: 187px;
}

.list-element {
    margin-top: 15px;
    transition: all 0.3s ease;
    outline: 1px solid #00000000;
    outline-offset: 7px;
}

.list-element:hover {
    outline-color: #00000080;
    /* background: #46df2780; */
    outline-offset: 5px;
}

.list-element:first-child {
    margin: 0px;
}

.list-link {
    font-size: 15px;
    line-height: 15px;
    color: #000;
    text-decoration: none;
}

.bottom {
    border-top: 1px solid #000;
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    width: 90px;
    height: 21px;
    margin-right: 14px;
}

.desc {
    display: block;
    width: 301px;
    font-size: 12px;
    line-height: 15px;
    justify-self: start;
}

.left {
    display: flex;
    justify-content: start;
    /* align-items: center ; */
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-right: 76px;
}

.years,
.copyright {
    font-size: 12px;
    line-height: 15px;
}


/* FOOTER */